<settings>

    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WhiteDark</listEntry>
            <listEntry value="1">@Strings.BlueDark</listEntry>
            <listEntry value="2">@Strings.RedDark</listEntry>
            <listEntry value="3">@Strings.GreenDark</listEntry>
            <listEntry value="4">@Strings.BlackLight</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ThemeDataIconsColor" title="@Strings.ThemeDataIconsColorTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UpdateSecondInLowPowerMode" title="@Strings.UpdateSecondInLowPowerModeTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.CaloriesGoal" title="@Strings.CaloriesGoalTitle" prompt="@Strings.CaloriesGoalPrompt">
        <settingConfig type="numeric" errorMessage="@Strings.CaloriesGoalError" />
    </setting>

</settings>
