<settings>

    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WhiteDarkColorful</listEntry>
            <listEntry value="1">@Strings.WhiteDarkBicolor</listEntry>
            <listEntry value="2">@Strings.WhiteDarkTricolor</listEntry>
            <listEntry value="3">@Strings.BlackLightColorful</listEntry>
            <listEntry value="4">@Strings.BlackLightBicolor</listEntry>
			<listEntry value="5">@Strings.BlackLightTricolor</listEntry>
			<listEntry value="6">@Strings.GrayDarkColorful</listEntry>
            <listEntry value="7">@Strings.GrayDarkBicolor</listEntry>
            <listEntry value="8">@Strings.GrayDarkTricolor</listEntry>
            <listEntry value="9">@Strings.GrayLightColorful</listEntry>
            <listEntry value="10">@Strings.GrayLightBicolor</listEntry>
            <listEntry value="11">@Strings.GrayLightTricolor</listEntry>
			<listEntry value="12">@Strings.RedDarkColorful</listEntry>
			<listEntry value="13">@Strings.RedDarkBicolor</listEntry>
            <listEntry value="14">@Strings.RedDarkTricolor</listEntry>
            <listEntry value="15">@Strings.RedLightColorful</listEntry>
            <listEntry value="16">@Strings.RedLightBicolor</listEntry>
            <listEntry value="17">@Strings.RedLightTricolor</listEntry>
            <listEntry value="18">@Strings.BlueDarkColorful</listEntry>
			<listEntry value="19">@Strings.BlueDarkBicolor</listEntry>
			<listEntry value="20">@Strings.BlueDarkTricolor</listEntry>
            <listEntry value="21">@Strings.BlueLightColorful</listEntry>
            <listEntry value="22">@Strings.BlueLightBicolor</listEntry>
            <listEntry value="23">@Strings.BlueLightTricolor</listEntry>
            <listEntry value="24">@Strings.GreenDarkColorful</listEntry>
            <listEntry value="25">@Strings.GreenDarkBicolor</listEntry>
			<listEntry value="26">@Strings.GreenDarkTricolor</listEntry>
			<listEntry value="27">@Strings.GreenLightColorful</listEntry>
            <listEntry value="28">@Strings.GreenLightBicolor</listEntry>
            <listEntry value="29">@Strings.GreenLightTricolor</listEntry>
            <listEntry value="30">@Strings.YellowDarkColorful</listEntry>
            <listEntry value="31">@Strings.YellowDarkBicolor</listEntry>
            <listEntry value="32">@Strings.YellowDarkTricolor</listEntry>
			<listEntry value="33">@Strings.YellowLightColorful</listEntry>
			<listEntry value="34">@Strings.YellowLightBicolor</listEntry>
            <listEntry value="35">@Strings.YellowLightTricolor</listEntry>
            <listEntry value="36">@Strings.OrangeDarkColorful</listEntry>
            <listEntry value="37">@Strings.OrangeDarkBicolor</listEntry>
            <listEntry value="38">@Strings.OrangeDarkTricolor</listEntry>
            <listEntry value="39">@Strings.OrangeLightColorful</listEntry>
			<listEntry value="40">@Strings.OrangeLightBicolor</listEntry>
			<listEntry value="41">@Strings.OrangeLightTricolor</listEntry>
            <listEntry value="42">@Strings.PurpleDarkColorful</listEntry>
            <listEntry value="43">@Strings.PurpleDarkBicolor</listEntry>
            <listEntry value="44">@Strings.PurpleDarkTricolor</listEntry>
            <listEntry value="45">@Strings.PurpleLightColorful</listEntry>
            <listEntry value="46">@Strings.PurpleLightBicolor</listEntry>
			<listEntry value="47">@Strings.PurpleLightTricolor</listEntry>
			<listEntry value="48">@Strings.PinkDarkColorful</listEntry>
            <listEntry value="49">@Strings.PinkDarkBicolor</listEntry>
            <listEntry value="50">@Strings.PinkDarkTricolor</listEntry>
            <listEntry value="51">@Strings.PinkLightColorful</listEntry>
            <listEntry value="52">@Strings.PinkLightBicolor</listEntry>
            <listEntry value="53">@Strings.PinkLightTricolor</listEntry>
        </settingConfig>
    </setting>

	<setting propertyKey="@Properties.UnfilledDataBar" title="@Strings.UnfilledDataBar">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UpdateSecondInLowPowerMode" title="@Strings.UpdateSecondInLowPowerModeTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.CaloriesGoal" title="@Strings.CaloriesGoalTitle" prompt="@Strings.CaloriesGoalPrompt">
        <settingConfig type="numeric" errorMessage="@Strings.CaloriesGoalError" />
    </setting>

    <setting propertyKey="@Properties.MotivationalQuoteProperty" title="@Strings.MotivationalQuoteTitle">
        <settingConfig type="alphaNumeric" />
    </setting>

	<setting propertyKey="@Properties.MotivationalQuoteChangeInterval" title="@Strings.MotivationalQuoteChangeIntervalTitle">
        <settingConfig type="list">
            <listEntry value="15">@Strings.Min15</listEntry>
            <listEntry value="30">@Strings.Min30</listEntry>
            <listEntry value="60">@Strings.Min60</listEntry>
            <listEntry value="120">@Strings.Min120</listEntry>
			<listEntry value="180">@Strings.Min180</listEntry>
            <listEntry value="240">@Strings.Min240</listEntry>
			<listEntry value="480">@Strings.Min480</listEntry>
            <listEntry value="720">@Strings.Min720</listEntry>
        </settingConfig>
    </setting>

	<setting propertyKey="@Properties.DataFieldMiddle" title="@Strings.DataFieldMiddleTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<listEntry value="6">@Strings.FloorsClimbed</listEntry>
			<listEntry value="7">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="8">@Strings.Weather</listEntry>
			<listEntry value="9">@Strings.NotificationCount</listEntry>
		</settingConfig>
	</setting>	
	<setting propertyKey="@Properties.DataFieldLeft" title="@Strings.DataFieldLeftTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<listEntry value="6">@Strings.FloorsClimbed</listEntry>
			<listEntry value="7">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="8">@Strings.Weather</listEntry>
			<listEntry value="9">@Strings.NotificationCount</listEntry>	
		</settingConfig>
	</setting>	
	<setting propertyKey="@Properties.DataFieldRight" title="@Strings.DataFieldRightTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<listEntry value="6">@Strings.FloorsClimbed</listEntry>
			<listEntry value="7">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="8">@Strings.Weather</listEntry>
			<listEntry value="9">@Strings.NotificationCount</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DataBarOuterLeftTop" title="@Strings.DataBarOuterLeftTopTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="6">@Strings.FloorsClimbed</listEntry>
			<listEntry value="7">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="4">@Strings.SunriseSunset</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.DataBarInnerRightBottom" title="@Strings.DataBarInnerRightBottomTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="6">@Strings.FloorsClimbed</listEntry>
			<listEntry value="7">@Strings.ActiveMinutesWeek</listEntry>	
		</settingConfig>
	</setting>   
	
</settings>
