<settings>

    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WhiteDark</listEntry>
            <listEntry value="1">@Strings.BlueDark</listEntry>
            <listEntry value="2">@Strings.RedDark</listEntry>
            <listEntry value="3">@Strings.GreenDark</listEntry>
            <listEntry value="4">@Strings.BlackLight</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ThemeDataIconsColor" title="@Strings.ThemeDataIconsColorTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UpdateSecondInLowPowerMode" title="@Strings.UpdateSecondInLowPowerModeTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.CaloriesGoal" title="@Strings.CaloriesGoalTitle" prompt="@Strings.CaloriesGoalPrompt">
        <settingConfig type="numeric" errorMessage="@Strings.CaloriesGoalError" />
    </setting>

	<setting propertyKey="@Properties.DataFieldMiddle" title="@Strings.DataFieldMiddleTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.SunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<listEntry value="6">@Strings.FloorsClimbed</listEntry>
			<listEntry value="7">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="8">@Strings.Weather</listEntry>
			<listEntry value="9">@Strings.NotificationCount</listEntry>
		</settingConfig>
	</setting>	
	<setting propertyKey="@Properties.DataFieldLeft" title="@Strings.DataFieldLeftTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.SunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<listEntry value="6">@Strings.FloorsClimbed</listEntry>
			<listEntry value="7">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="8">@Strings.Weather</listEntry>
			<listEntry value="9">@Strings.NotificationCount</listEntry>	
		</settingConfig>
	</setting>	
	<setting propertyKey="@Properties.DataFieldRight" title="@Strings.DataFieldRightTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.SunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<listEntry value="6">@Strings.FloorsClimbed</listEntry>
			<listEntry value="7">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="8">@Strings.Weather</listEntry>
			<listEntry value="9">@Strings.NotificationCount</listEntry>
		</settingConfig>
	</setting>

</settings>
