<settings>

	<setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
        <settingConfig type="list">
			<!-- Basic themes (22) -->
            <listEntry value="0">@Strings.ClassDark</listEntry>
            <listEntry value="1">@Strings.ClassLight</listEntry>
            <listEntry value="3">@Strings.ClassDarkColorful</listEntry>
            <listEntry value="4">@Strings.ClassLightColorful</listEntry>
			<listEntry value="5">@Strings.ConquestDark</listEntry>
            <listEntry value="6">@Strings.ConquestLight</listEntry>
            <listEntry value="7">@Strings.Conquest</listEntry>
			<listEntry value="10">@Strings.EssenceDark</listEntry>
            <listEntry value="11">@Strings.EssenceLight</listEntry>
            <listEntry value="12">@Strings.Essence</listEntry>
			<listEntry value="15">@Strings.PassionDark</listEntry>
            <listEntry value="16">@Strings.PassionLight</listEntry>
            <listEntry value="17">@Strings.Passion</listEntry>
			<listEntry value="20">@Strings.LibertyDark</listEntry>
            <listEntry value="21">@Strings.LibertyLight</listEntry>
            <listEntry value="22">@Strings.Liberty</listEntry>
			<listEntry value="25">@Strings.PrincessDark</listEntry>
            <listEntry value="26">@Strings.PrincessLight</listEntry>
            <listEntry value="27">@Strings.Princess</listEntry>
			<listEntry value="30">@Strings.RuleDark</listEntry>
            <listEntry value="31">@Strings.RuleLight</listEntry>
            <listEntry value="32">@Strings.Rule</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UpdateSecondInLowPowerMode" title="@Strings.UpdateSecondInLowPowerModeTitle">
        <settingConfig type="boolean" readonly="true"/>
    </setting>

	<setting propertyKey="@Properties.DataFieldMiddle" title="@Strings.DataFieldMiddleTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<!--listEntry value="6">@Strings.FloorsClimbed</listEntry-->
			<!--listEntry value="7">@Strings.ActiveMinutesWeek</listEntry-->
			<!--listEntry value="8">@Strings.Weather</listEntry-->
			<listEntry value="9">@Strings.NotificationCount</listEntry>
		</settingConfig>
	</setting>	
	<setting propertyKey="@Properties.DataFieldLeft" title="@Strings.DataFieldLeftTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<!--listEntry value="6">@Strings.FloorsClimbed</listEntry-->
			<!--listEntry value="7">@Strings.ActiveMinutesWeek</listEntry-->
			<!--listEntry value="8">@Strings.Weather</listEntry-->
			<listEntry value="9">@Strings.NotificationCount</listEntry>	
		</settingConfig>
	</setting>	
	<setting propertyKey="@Properties.DataFieldRight" title="@Strings.DataFieldRightTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<!--listEntry value="6">@Strings.FloorsClimbed</listEntry-->
			<!--listEntry value="7">@Strings.ActiveMinutesWeek</listEntry-->
			<!--listEntry value="8">@Strings.Weather</listEntry-->
			<listEntry value="9">@Strings.NotificationCount</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DataBarOuterLeftTop" title="@Strings.DataBarOuterLeftTopTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<!--listEntry value="6">@Strings.FloorsClimbed</listEntry-->
			<!--listEntry value="7">@Strings.ActiveMinutesWeek</listEntry-->
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.DataBarInnerRightBottom" title="@Strings.DataBarInnerRightBottomTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<!--listEntry value="6">@Strings.FloorsClimbed</listEntry-->
			<!--listEntry value="7">@Strings.ActiveMinutesWeek</listEntry-->
		</settingConfig>
	</setting>   
	
</settings>
